* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #222;
  font-family: Arial, sans-serif;
}

.calculator {
  width: 380px;
  padding: 20px;
  background: #111;
  border-radius: 20px;
  box-shadow: 0 10px 30px #000;
}

.display {
  height: 100px;
  margin-bottom: 20px;
  padding: 25px;
  background: #333;
  color: white;
  border-radius: 12px;
  text-align: right;
  font-size: 47px;
  overflow: hidden;
}

.buttons {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}

button {
  height: 90px;
  border: none;
  border-radius: 50%;
  background: #333;
  color: white;
  font-size: 30px;
  cursor: pointer;
}

button:hover {
  background: #555;
}

.operator {
  background: #ff9500;
}

.operator:hover {
  background: #ffad33;
}

.clear {
  background: #777;
}

.equal {
  background: #ff9500;
}

.zero {
  grid-column: span 2;
  border-radius: 30px;
}